
body
{
margin:0;
padding:0;
background:radial-gradient(#d9c129,#968a39);
height:100vh;
}

h1
{
    margin:0;
    padding:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  font-family: "Brush Script MT";
  font-weight: 400;
  font-style: normal;
}
    color:white;
    font-size:61px;
}

h1:before
{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.92em;
    background: linear-gradient(0deg,#fff 0,transparent 80%);
    background-clip: text;
    color:transparent;
    opacity:0.5;
    
}
