/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    box-sizing:border-box;
   
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
    max-width: 1100px;
    
}
.logo img{
    height:200%;
    object-fit:contain;
    object-position:;
    max-height: 100px;
}

.search-box{
    width:280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f0cc59;
    border-radius: 30px;
    padding: 0px 20px;
    margin-left: auto;
}

.search-box input{
    width:95%;
    height: 100%;
    background-color: transparent;
    border:none;
    outline: none;
}



body {
    font-family:sans-serif;
background: white;
    
	
}

 

#container {
	width:100%;
	width:100%;
	margin:auto;
    background:white;
}
.productpage{
    
    
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    
    
}

.productimage {
    
    width:300px;
 
}



.product-price {
  
    font-size: 1.4em;
font-weight: 150;
    color: black;
    
}

.all-products {
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
}

.product-info {
    
  padding: 15px;  
}

.content h4{
    
    font-size: 28px;
    margin-bottom: 8px;
    
}

content p {
    
 font-size: 15px;
line-height: 1.3em;
}

.product {
    
width: 325px;
background-color: white;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
margin: 20px;    
    
}




header, footer {
	background:#0B421A;
	color:#ffffff;
}

header {
	padding:1em;
	text-align:center;
    font-size: 2em;
}

footer {
	padding: 1em;
}


nav ul {
	padding-left:0px;
}

nav a {
	display:flex;
	text-decoration:none;
	padding:1em;
	background:#f0cc59;
    color:#0B421A;
}





figure {
	margin:0px;
	border:1px 
    background:#007732;
	padding:1em;
	
}

figure img {
	width: 100%;
}

section {
background:background: rgb(253,253,255);
background: white;
    
    

}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	


main {
	display: flex;
}

figure, section {
	flex: 1 1 50%;
}


nav ul {
	display:flex;
}

nav li {
	flex: 1 1 auto;
}



	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */




